<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'maps:comment_create' pk %}" method="POST">
        {% csrf_token %}
        {{form}}
        <button id="comment_create_btn">댓글 남기기</button>
    </form>

    <script>
        {% comment %} comment_create_btn = document.getElementById("comment_create_btn")
        comment_create_btn.onclick = function(){
            //opener.parent.location.reload();
                
                window.open("about:blank", "_self").close()
                
            } {% endcomment %}
        
    </script>
</body>
</html>